<%-  include("partials/header.ejs") %>






<div class="main">


<!-- carrosel -->
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
    </div>


    <div class="carousel-inner" >
      <div class="carousel-item active carHeight" >
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Turn the Page, Discover the Magic!</h1>
            <p class="opacity-75">Looking for your next great read? Let's explore captivating stories together!</p>
            <p><a class="btn btn-lg btnGen" href="/books">find it here</a></p>
          </div>
        </div>
      </div>


      <div class="carousel-item  carHeight" >
        <svg class="bd-placeholder-img"  width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>What’s My Next Great Read? You Decide!</h1>
            <p>What book should I read next? Drop your suggestions below! 👇</p>
            <p><a class="btn btn-lg btnGen" href="/contact"> suggest a book</a></p>
          </div>
        </div>
      </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">previous</span>
    </button>
    
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">next</span>
    </button>
  </div>

 <!-- check if there are books to show case in welcome -->
  <% if (locals.sentTopTwo.length === 0) { %>
  <h2> No book has been added so far. Why not adding one now?</h2>
  <a href="/new">
    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"  aria-expanded="true">
      Add New
    </button>
  </a>
    <% } else if (locals.sentTopTwo.length >= 1) {%>



 <!-- first top rated book -->
  <div class="topRated top1 featurette">

    <div class="">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="<%= locals.sentTopTwo[0].coverurl  %>" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect></svg>
    </div>

    <div class="">
        <h2 class="featurette-heading fw-normal "> Top rating book so far</h2>
        <p class="lead"><%=locals.sentTopTwo[0].title%></p>
        <p class="lead">by <%=locals.sentTopTwo[0].author%> with the rate of <%=locals.sentTopTwo[0].rating%>/10</p>
      </div>
      
  </div>

<%  if (locals.sentTopTwo.length === 2){%>
  <!-- second top rated book -->
  <div class="topRated top2 featurette">


    <div class="">
        <h2 class="featurette-heading fw-normal "> Second top rating book so far</h2>
        <p class="lead"><%=locals.sentTopTwo[1].title%></p>
        <p class="lead">by <%=locals.sentTopTwo[1].author%> with the rate of <%=locals.sentTopTwo[1].rating%>/10</p>
      </div>

    <div class="">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="<%= locals.sentTopTwo[1].coverurl  %>" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect></svg>
    </div>

   
      
  </div>

<% } %>



<% } %>

</div>







<%-  include("partials/footer.ejs") %>